registry "https://registry.yarnpkg.com"
network-timeout 600000
disable-self-update-check true
yarn-offline-mirror "./npm-packages-offline-cache"
yarn-offline-mirror-pruning true
unsafe-disable-integrity-migration true 